@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');




:root {
    --primary-color: #ff42a5;
    
}

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    padding: 0 50px;
  
    
}

.nav-left {
    display: flex;
    
    gap: 20px;
    align-items: center;
}

.gamer-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.g {
    color: var(--primary-color);
}

.nav-right
 {
   display: flex;
   justify-content: center;
   align-items: center;
}

.follow {
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    display: flex;
    padding: 20px;
    height: 55px;

    gap: 10px;

}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #3C354F;
    font-weight: 500;
    padding: 51px 20px;
    gap: 20px;

}

body {
    width: 100%;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-left {
    background-image: url(/images/Group\ 14.png);
    width: 50vw;
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    padding: 100px;
}
.banner-left-content {
    height: 100%;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-1 {
    width: 120px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 10px 0px;
    border: none;
    cursor: pointer;
}

.btn-2 {
    width: 120px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    background: #4EC5F7;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}

.btn {
    display: inline-flex;
    gap: 10px;
    margin-top: 20px;
}

.banner-right {
    width: 50vw;

    height: 80vh;
}

.banner-right img {
    width: 100%;
    padding-left: 20px;
    height: 100%;
}
/* gamer style */

.gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.gamer-right{
    display: flex;
    flex-direction: column;
    align-items:end;
    gap: 10px;
}
.gamer-title2{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-description{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.gamer-motto{
    text-align: right;
}

/* funny videos style */
.funny-videos{
    margin-top: 30px;
    margin-bottom: 30px;
}
.image-container{
    /* width: 100%; */
    display: flex;
    gap: 5px;
}


.funny-videos-title h2{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}

#funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.funny-videos-title p{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 10px;
}

.funny-image img {
    width: 100%;
    height: 450px;
}

/* instant style*/
.play-instant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    
}
.gun-holder img{
    width: 100%;
}

.image-overlay{
    width: 50%;
    position: relative;
    bottom: 190px;
    right: 70px;
}

.instant-heading{
    text-align: right;
    padding-bottom: 150px;
}

.instant-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.instant-details{
    color: #534C64;
    font-weight: 400;
    line-height: 30px;
    }
/* additional icon section */

.additional-icon{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    margin-bottom: 20px;

}



.icon-details{
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.icon-details img{
    width: 40px;
}

.instant-details{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}

/* footer section */
.gamer-footer{
    background-color: #0B0223;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.footer-image img{
    
    background-blend-mode: color-burn;
    padding-right: 30px;
}
/* .footer-image{
    p
} */
.footer-title{
    display: flex;
    align-items: center;
}
.footer-list{
    list-style: none;
    display: flex;
    gap: 50px;
}
.footer-list-2{
    list-style: none;
    display: flex;
    gap: 30px;
}
.footer-img{
    display: flex;
}
.footerList {
   display: flex;

}
@media screen and (max-width: 576px) {


    *{
        margin: 0;
    }
    nav {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .list {
        flex-direction: column;
    }
    .nav-right {
        flex-direction: column;
    }
    .banner {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .banner-left {
        width: 100%;
        padding: 100px;
    }
    .banner-title { 
        font-size: 25px;
    }
    .goat {
        font-size: 2rem;
         
    }
    .banner-right img {
        width: 100%;
        padding-left: 20px;
       
    }

    .banner-right {
        width: 100vw;
        margin-bottom: 20px;
       
    }
    .banner-left {
        width: 100vw;   
        padding: 50px;
    }
    .banner-right img {
         
        padding-right: 20px;
        
    }
    .gamer {
        flex-direction: column;
    }
    .gamer img {
        width: 100%;
    }
    .gamer-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .gamer-description {
        text-align: center;
    }
    .gamer-motto {
        text-align: center;
    }

    .play-instant {
        display: flex;
        flex-direction: column;
    }
    .gun-holder img{
        position: inherit;
        padding: 5px 50px;
    }

    .instant-heading {
        width: 100%;
        text-align: center;

    }
    .instant-details{
        text-align: center;
        }

    .image-overlay{
        width: 50%;
        position: relative;
        bottom: 100px;
        right: 50px;
    }    

    .icon-details{
        display: flex;
        align-items: center;
        gap: 5px;
        
    }

    .image-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .additional-icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    
    }
.footer-img{
    flex-direction: column;
}
.footerList {
   flex-direction: column;

}

.footer-list-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

}
@media screen and (min-width: 576px) and (max-width: 960px){
    .banner {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .goat {
        font-size: 55px;
         
    }
    .banner-right img {
        width: 100%;
        padding-left: 20px;
       
    }

    .banner-right {
        width: 100vw;
        margin-bottom: 20px;
       
    }
    .banner-left {
        width: 100vw;   
        padding: 100px;
    }
    .banner-right img {
         
        padding-right: 20px;
        
    }
    .gamer {
        flex-direction: column;
    }
    .gamer img {
        width: 100%;
    }
    .gamer-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .gamer-description {
        text-align: center;
    }
    .gamer-motto {
        text-align: center;
    }
    .image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .play-instant {
        display: flex;
        flex-direction: column;
    }
}